.optional-reply-color {
    color: #90caf9 !important;
}
.notable-reply-color {
    color: #4db6ac !important;
}
.important-reply-color {
    color: #ffd54f !important;
}
.urgent-reply-color {
    color: #ef9a9a !important;
}
.crucial-reply-color {
    color: #ab47bc !important;
}